.lyrics{
    text-align: center;
    font-family: sans-serif;
}
.footer{
    text-align: center;
    font-family: sans-serif;
}
.CAT{
    font-weight: bold;
}
#IMAGE{
    float: left;
}
.HEAD{
    text-indent: 2%;
    font-family: sans-serif;
}
.credits{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-indent: 2%;
}